<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head') %>
  </head>

  <body>
    <div class="container">
      <div class="row">
        <p class="lead">A simple chat app written in React</p>

        <p>Welcome back <%= username %>! <a href="/promptUsername">Change username</a></p>
      </div>

      <div id="chatContainer">
      </div>
    </div>
    
    <%- include('partials/foot') %>
  </body>
</html>