
body {
  padding-top: 5em;
}

@media (max-width: 980px) {
  body {
    padding-top: 2em;
  }
}

.bottom {
    position: absolute;
    bottom: 0;
    margin-right: 0;
}

.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.chat-app {
  overflow: hidden;
  height: 80vh;
}

.channel-list {
  background-color: #eee;
  /* Make channel list span to bottom of column */
  padding-bottom: 100%;
  margin-bottom: -100%;
}

.chat-message-list {
  overflow: auto;
  height: 70vh;
}

.chat-message:first-child {
  margin: 0 auto 1em;
}

.chat-message:last-child {
  margin: 1em auto 0;
}

.chat-message {
  margin: 1em auto;
}

.chat-input {
  border: 1px solid #ccc;
  border-radius: 3px;
  width: 96%;
  margin: 1em auto;
}

.chat-input-container {
  width: 100%;
}

.chat-input-box {
  outline: none;
  border: none;
  width: 100%;
  height: 2.6em;
  resize: none;
  padding: 0.7em 1em;
}
